  * {
      padding: 0px;
      margin: 0;
      box-sizing: border-box;
  }

  body {

      background-image: url(firstflight.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
      opacity: 0;
      transition: opacity 0.8s ease;

  }
 

  .container {

      display: flex;
      width: 600px;
      height: 450px;
      background-color: white;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;



  }

  .left {
      width: 250px;
      height: 450px;
  }

  .right {
      width: 350px;
      height: 450px;
      box-shadow: 0 0 20px rgb(21, 21, 21)
  }

  .right,
  img {
      border: none;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      object-fit: cover;
      width: 350px;
      height: 450px;

  }

  form {
      padding: 10px;
  }

  h2 {
      text-align: center;
      padding: 20px 0;
  }

  input {
      padding: 5px;
      border: 2px solid rgb(199, 202, 201);
      border-radius: 5px;
  }

  input,
  h4 {
      margin: 5px;
  }

  button {
      margin: 20px 10px 30px 10px;
      width: 90%;
      height: 35px;
      border-radius: 10px;
      border: none;
      background-color: rgb(74, 74, 255);
      color: white;
      font-weight: bold;

  }

  button:hover {
      background-color: rgb(51, 51, 200);
      cursor: pointer;
  }


  p {
      padding-left: 8px;
  }